.card.shadow.mb-4
  .card-body
    %h4.title
      = t('user.personal_info')
      - if @user.potential_drop_off
        %small.text-danger.text-small= "(#{t('user.high_potential_drop_off')})"

    %table.table
      %tbody
        %tr
          %td= t('user.full_name')
          %td= " : #{@user.full_name}"

        %tr
          %td= t('user.gender')
          %td= " : #{@user.sex}"

        %tr
          %td= t('user.date_of_birth')
          %td= " : #{@user.date_of_birth}"

        %tr
          %td= t('user.phone_number')
          %td= " : #{@user.phone_number}"

        %tr
          %td= t('user.grade')
          %td= " : #{@user.display_grade}"

        %tr
          %td= t('user.class_group')
          %td= " : #{@user.class_group}"

        %tr
          %td= t('user.study_at')
          %td= " : #{@user.school_address}"

        %tr
          %td= t('user.registered_at')
          %td= " : #{l(@user.registered_at)}"
