.flex-grow-1.border
  / Holland Test
  %div
    %h5.title.text-center.mt-2
      = t('user.holland_quiz_result')

    %table.table
      %thead
        %tr
          %th{width: 60} #
          %th= t('shared.quiz')
          %th= t('shared.quizzed_at')

      %tbody
        - @user.holland_quizzes.each_with_index do |quiz, i|
          %tr
            %td= i + 1
            %td
              = link_to t('user.quiz_number', num: i + 1), user_holland_quiz_path(@user, quiz), remote: true
            %td= timeago(quiz.quizzed_at, 'datetime').html_safe

  / Multiple Intelligence Test
  %div
    %h5.title.text-center.mt-2
      = t('user.multiple_intelligence_result')

    %table.table
      %thead
        %tr
          %th{width: 60} #
          %th= t('shared.quiz')
          %th= t('shared.quizzed_at')

      %tbody
        - @user.intelligence_quizzes.each_with_index do |quiz, i|
          %tr
            %td= i + 1
            %td
              = link_to t('user.quiz_number', num: i + 1), user_intelligence_quiz_path(@user, quiz), remote: true
            %td= timeago(quiz.quizzed_at, 'datetime').html_safe

= render "holland_quizzes/show/modal_quiz", modal_id: "hollandQuizModal"
= render "holland_quizzes/show/modal_quiz", modal_id: "intelligenceQuizModal"
