.flex-grow-1.border.p-3
  %h4.title.d-flex
    .mr-3
      - url = @user.photo.url || 'default_profile.png'
      = image_tag url, class: "img-circular-profile rounded-circle", style: 'width: 50px; height: 50px;'

    = t('user.personal_info')

  .content
    .d-flex.mb-2
      .w-25= t('user.uuid')
      %b= " : #{@user.uuid}"

    .d-flex.mb-2
      .w-25= t('user.full_name')
      %b= " : #{@user.full_name}"

    .d-flex.mb-2
      .w-25= t('user.gender')
      %b= " : #{@user.sex}"

    .d-flex.mb-2
      .w-25= t('user.date_of_birth')
      %b= " : #{@user.date_of_birth}"

    .d-flex.mb-2
      .w-25= t('user.phone_number')
      %b= " : #{@user.phone_number}"

    .d-flex.mb-2
      .w-25= t('user.grade')
      %b= " : #{@user.display_grade}"

    .d-flex.mb-2
      .w-25= t('user.class_group')
      %b= " : #{@user.class_group}"

    .d-flex.mb-2
      .w-25= t('user.study_at')
      %b= " : #{@user.school_address}"

    .d-flex.mb-2
      .w-25= t('user.registered_at')
      %b= " : #{timeago(@user.registered_at)}".html_safe

    .d-flex.mb-2
      .w-25= t('shared.created_at')
      %b= " : #{timeago(@user.created_at)}".html_safe

    .d-flex.mb-2
      .w-25= t('shared.updated_at')
      %b= " : #{timeago(@user.updated_at)}".html_safe
