.container.w-50
  = simple_form_for @career_website do |f|
    = render "shared/forms/logo", object: @career_website, f: f
    = f.input :name, label: t('shared.name')
    = f.input :url, label: t('shared.url')
    = f.input :description, label: t('shared.descrtion')

    .actions
      = link_to t('shared.cancel'), career_websites_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
