= content_for :title do
  = t('sidebar.career_website')

.d-flex.flex-row-reverse.flex-wrap
  .d-flex
    .mr-2= render "shared/buttons/download_button", url: career_websites_path(filter_params.merge(format: :xlsx))

    - if policy(CareerWebsite).create?
      = render "shared/buttons/add_new_button", url: new_career_website_path

      / More Options
      = render "shared/buttons/more_button" do
        = render "shared/buttons/import_from_file_button", url: new_career_website_importer_path

        = render "shared/buttons/importing_history_button", name: t('sidebar.career_website'), url: career_website_importers_path

        = render "shared/buttons/download_json_button", url: career_websites_path(format: :json)

  / Filter
  .flex-grow-1
    = form_for "", url: career_websites_path, method: 'get' do |f|
      .d-flex
        = render "shared/filters/filter_name"

        .ml-2
          = render "shared/buttons/search_button"
