= content_for :title do
  = t('sidebar.self_understanding_question')

.d-flex.flex-row-reverse.flex-wrap
  .d-flex
    %div= render "shared/buttons/download_button", url: self_understanding_questions_path(filter_params.merge(format: :xlsx))

    / More Options
    = render "shared/buttons/more_button" do
      = render "shared/buttons/download_json_button", url: self_understanding_questions_path(format: :json)

  / Filter
  .flex-grow-1
    = form_for "", url: self_understanding_questions_path, method: 'get' do |f|
      .d-flex
        = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

        .ml-2
          = render "shared/buttons/search_button"
