= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render "shared/pagination_title", objects: @questions

    .table-responsive.mb-4
      %table.table.table-hover.pretty
        %thead
          %tr
            %th{width: 60} #
            %th= t('shared.code')
            %th= t('shared.name')
            %th= t('holland_quiz.type')
            %th= t('holland_quiz.options')
            %th= t('holland_quiz.relevant')

        %tbody#body-content
          - @questions.each_with_index do |question, index|
            %tr
              %td= @pagy.from + index
              %td= question.code
              %td= question.name
              %td= question.type
              %td= question.options.map(&:name).join(', ')
              %td= question.relevant

    = render "shared/footers/pagination"
