= form_for "", url: jobs_path, method: 'get' do |f|
  .d-flex
    = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

    - options = JobCluster.all.map.with_index{ |cluster, index| ["#{index+1}.#{cluster.name}", cluster.id]}
    = select_tag :job_cluster_id, options_for_select(options, params[:job_cluster_id]), class: 'custom-select filter-input ml-2', prompt: t('job.any_cluster')

    .ml-2
      = render "shared/buttons/search_button"
