= content_for :title do
  = t('sidebar.job')

= form_for "", url: jobs_path, method: 'get' do |f|
  .d-flex.flex-row-reverse.flex-wrap
    .d-flex
      .mr-2= render "shared/buttons/download_button", url: jobs_path(filter_params.merge(format: :xlsx))

      - if policy(Job).create?
        = render "shared/buttons/add_new_button", url: new_job_path

        / More Options
        = render "shared/buttons/more_button" do
          = render "shared/buttons/import_from_file_button", url: new_job_importer_path, title: t("shared.import_from_zip_file")

          = render "shared/buttons/importing_history_button", name: t('sidebar.job'), url: job_importers_path

          = render "shared/buttons/download_json_button", url: jobs_path(format: :json)

    .d-flex.flex-grow-1
      = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

      .ml-3
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_school"

      .ml-2
        = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .mr-2
        - options = JobCluster.all.map.with_index{ |cluster, index| ["#{index+1}.#{cluster.name}", cluster.id]}
        = select_tag :job_cluster_id, options_for_select(options, params[:job_cluster_id]), class: 'custom-select filter-input ml-2', prompt: t('job.any_cluster')
