.d-sm-flex.mb-4
  .d-flex.align-items-center.flex-grow-1
    - if @job.logo.present?
      .mr-2= image_tag(@job.logo_url, width: 50, class: 'rounded-circle')

    %h1.h3.mb-0.text-gray-800= "#{@job.name_km} (#{@job.code})"

  %div= render 'shared/buttons/back_button', url: jobs_path

#contents.mt-5.mt-md-0
  - ['name_km', 'name_en', 'personality_type', 'job_cluster_name', 'general_description'].each do |field|
    .row.mb-1
      .col-4= t("job.#{field}")
      .col-8= @job[field] || 'N/A'

  - {job_condition: %w(jd_main_task jd_environment jd_work_style), education_and_training: %w(edu_education_level  edu_subjects_at_high_school edu_majors_at_university), mandate_qualification: %w(personal_competency_knowledge personal_competency_skill personal_competency_ability)}.each do |key, value|

    .card.mb-4.py-2.px-1.border-left-primary
      %div
        %small.m-1.font-weight-bold.text-primary= t("job.#{key}")
        - value.each do |field|
          .row.m-1
            .col-4= t("job.#{field}")
            .col-8= @job[field] || 'N/A'

  = render "shared/school_section", schools: @job.schools
