.d-sm-flex.mb-4
  .d-flex.align-items-center.flex-grow-1
    %h1.h3.mb-0.text-gray-800= @job.name_km
  = render 'shared/buttons/back_button', url: jobs_path

#contents.mt-5.mt-md-0
  - ['code', 'name_km', 'name_en', 'personality_type', 'job_cluster_name', 'general_description'].each do |field|
    .row.mb-1
      .col-4= t("job.#{field}")
      .col-8= @job[field]

  - {job_condition: ['jd_main_task', 'jd_environment', 'jd_technology_skill'],education_and_training: ['edu_education_level', 'edu_high_school_supported_subject', 'edu_higher_education_skill'], mandate_qualification: ['qua_supported_knowledge', 'qua_supported_skill', 'qua_supported_capacity', 'qua_characteristic_of_job'], additional_info: ['info_job_market', 'info_similar_job']}.each do |key, value|

    %fieldset.border-bottom.mb-3
      %legend= t("job.#{key}")
      - value.each do |field|
        .row.mb-1
          .col-4= t("job.#{field}")
          .col-8= @job[field] || 'N/A'
