.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t("school.name")
        %th= t('school.logo')
        %th= t('school.address')
        %th= t('school.phone_numbers')
        %th= t('school.emails')
        %th= t('school.website_or_facebook')
        %th= t('school.type')
        %th= t('school.category')
        %th= t('school.department')
        %th= t('shared.is_valid')

    %tbody
      - @batch.importing_items.each_with_index do |importing_item, index|
        - item = importing_item.itemable
        - if item.valid?
          = f.fields_for :importing_items, importing_item do |ff|
            = ff.hidden_field :itemable_id
            = ff.hidden_field :itemable_type
            = ff.fields_for :itemable, item do |fff|
              = fff.hidden_field :id
              = fff.hidden_field :code
              = fff.hidden_field :name
              = fff.hidden_field :address
              = fff.hidden_field :province
              = fff.hidden_field :phone_numbers
              = fff.hidden_field :emails
              = fff.hidden_field :website_or_facebook
              = fff.hidden_field :kind
              = fff.hidden_field :category
              = fff.hidden_field :logo_cache

              - item.school_departments.each do |school_department|
                = fff.fields_for :school_departments, school_department do |sdf|
                  = sdf.hidden_field :id
                  = sdf.hidden_field :_destroy
                  = sdf.fields_for :department, school_department.department do |df|
                    = df.hidden_field :name

                  - school_department.school_majors.each do |school_major|
                    = sdf.fields_for :school_majors, school_major do |smf|
                      = smf.fields_for :major, school_major.major do |mj|
                        = mj.hidden_field :name

        %tr
          %td= index + 1
          %td= item.name
          %td
            - if item.logo.present?
              = image_tag item.logo_url, width: 50

          %td= item.address
          %td= item.phone_numbers
          %td= item.emails
          %td= item.website_or_facebook
          %td= item.kind
          %td= item.category
          %td
            = item.school_departments.select{ |d| !d._destroy }.map { |sd| "#{sd.department.name}(#{t('school.major_count', count: sd.school_majors.length)})" }.join(" / ")

          / Validation status
          %td= render "shared/validation_status", item: item
