= content_for :title do
  = t('sidebar.app_user')

= form_for "", url: users_path, method: 'get' do |f|
  .d-flex.flex-row-reverse.flex-wrap
    .d-flex
      .mr-2= render "shared/buttons/download_button", url: users_path(filter_params.merge(format: :xlsx))

    / Filter
    .d-flex.flex-grow-1
      = render 'shared/filters/filter_name'

      .ml-3
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_app_user"

      / Search button
      .ml-2
        = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.mb-2.ml-2.flex-wrap
      .mr-2.mt-2= render "shared/filters/date_filter", placeholder: t('user.search_by_registered_at')

      - if current_account.primary_admin? || current_account.admin? || current_account.trainer?
        .mr-2.mt-2
          = render "shared/filters/province", f: f
        .mr-2.mt-2
          = render "shared/filters/district", f: f
        .mr-2.mt-2
          = render "shared/filters/high_school", f: f

      - elsif current_account.counselor? && !current_account.in_school_other?
        .mr-2.mt-2
          = select_tag :high_school_code, options_for_select(HighSchool.where(code: current_account.high_school_ids).pluck(:name_km, :code), params[:high_school_code]), include_blank: (current_account.high_school_ids.length > 1 ? t('shared.all_schools') : false), class: 'custom-select'

      .mr-2.mt-2
        = select_tag :grade, options_for_select(User.grades.pluck(:label, :value), params[:grade]), include_blank: t('shared.all_grades'), class: 'custom-select'

      .mr-2.mt-2
        = select_tag :gender, options_for_select(User::GENDERS, params[:gender]), include_blank: t('user.all_gender'), class: 'custom-select'

      .mr-2.mt-2
        = select_tag :class_group, options_for_select(User.class_groups.keys.map{|group| [t("user.#{group}"), group]}, params[:class_group]), include_blank: t('user.all_class_group'), class: 'custom-select'
