= content_for :title do
  = "#{t('sidebar.app_user')}: #{@user.full_name}"

/ Tab
%ul.nav.nav-tabs.nav-justified
  %li.nav-item
    %a.nav-link{ href: user_path(@user), class: css_active_class('users') }
      %span.d-none.d-lg-inline= t("user.profile")

  / For V1
  %li.nav-item
    %a.nav-link{ href: user_games_path(@user), class: css_active_class('games') }
      %span.d-none.d-lg-inline= t('user.career_assessment')

  / For V1
  %li.nav-item
    %a.nav-link{ href: user_personality_tests_path(@user), class: css_active_class('personality_tests') }
      %span.d-none.d-lg-inline= t('user.personality_assessment')
