- @users.each_with_index do |user, index|
  %tr
    %td
      %div{ class: ('line-badge' if user.potential_drop_off), 'data-toggle' => 'tooltip', title: t('user.high_potential_drop_off') }
        = link_to @pagy.from + index, user_path(user.id)

    %td= link_to user.full_name, user_path(user.id)
    %td= user.sex
    %td= user.display_grade
    %td
      = t("user.#{user.class_group}") if user.class_group.present?
    %td= user.school_address
    %td
      - user.games.each_with_index do |game, i|
        %div
          = "តេស្តលើកទី #{i + 1}: តេស្តស្វែងយល់អំពីខ្លួនឯង ( តេស្ត #{game.personal_understandings.length}ដង"

          - fails_count = game.personal_understandings.select{ |p| p.fail? }.length
          = personal_understanding_info(fails_count).html_safe
          = ")"
    %td= user.quizzes_count
    %td= timeago(user.registered_at).html_safe
    %td= timeago(user.updated_at).html_safe
    %td
      = link_to user_path(user, format: 'pdf'), class: "btn btn-circle btn-sm btn-outline-dark mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('user.view_as_pdf')}, target: '_blank' do
        = image_tag 'pdf.png', size: 14
