/ Page Heading
= render "shared/headers/page_heading", title: t('sidebar.app_user') do
  = render "shared/buttons/download_button", url: users_path(filter_params.merge(format: :xlsx))

= render 'filter'

.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    %table.table
      %thead
        %tr
          %th{width: 60} #
          %th= t('user.student')
          %th= t('user.gender')
          %th= t('user.grade')
          %th= t('user.class_group')
          %th= t('user.study_at')
          %th ការធ្វើតេស្ត(v1)
          %th= t('user.holland_quiz') + "v2"
          %th

      %tbody#body-content
        = render partial: 'users'

    = render "shared/footers/pagination"
