= content_for :title do
  = t('sidebar.video')

.d-flex.flex-row-reverse.flex-wrap
  .d-flex
    .mr-2= render "shared/buttons/download_button", url: videos_path(filter_params.merge(format: :xlsx))

    - if policy(Video).create?
      = render "shared/buttons/add_new_button", url: new_video_path

      / More Options
      = render "shared/buttons/more_button" do
        = render "shared/buttons/import_from_file_button", url: new_video_importer_path

        = render "shared/buttons/importing_history_button", name: t('sidebar.video'), url: video_importers_path

        = render "shared/buttons/download_json_button", url: videos_path(format: :json)

  / Filter
  .flex-grow-1
    = form_for "", url: videos_path, method: 'get' do |f|
      .d-flex
        = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

        .ml-2
          = render "shared/buttons/search_button"
