/ Page Heading
= render "page_heading"
= render 'shared/filters/name_code_filter', url: videos_path

.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    .table-responsive.mb-4
      %table.table.table-hover.pretty
        %thead
          %tr
            %th{width: 60} #
            %th= t('shared.code')
            %th= t('shared.title')
            %th= t('video.url')
            %th= t('video.author')
            %th

        %tbody#body-content
          - @videos.each_with_index do |video, index|
            %tr
              %td= @pagy.from + index
              %td= video.code
              %td= video.name
              %td
                = link_to video.url, target: '_blank' do
                  = image_tag video.thumbnail, style: 'width: 50px;'

              %td= video.author
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/edit_button", object: video, url: edit_video_path(video)

                  = render 'shared/buttons/delete_button', object: video,  message: { type: t('sidebar.high_video'), name: video.name, url: video_path(video) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
