.d-flex
  .mr-3
    - url = @user.photo.url || 'default_profile.png'
    = image_tag url, class: "img-circular-profile rounded-circle"

  .flex-grow-1.border.p-3
    %h4.title
      ព័ត៌មានផ្ទាល់ខ្លួន

    .content
      .d-flex.mb-2
        .w-25 ឈ្មោះពេញ
        %b= " : #{@user.full_name}"
      .d-flex.mb-2
        .w-25 ភេទ
        %b= " : #{@user.sex}"
      .d-flex.mb-2
        .w-25 ថ្ងៃខែឆ្នាំកំណើត
        %b= " : #{@user.date_of_birth}"
      .d-flex.mb-2
        .w-25 លេខទូរស័ព្ទ
        %b= " : #{@user.phone_number}"
      .d-flex.mb-2
        .w-25 ថ្នាក់ទី
        %b= " : #{@user.grade}"
      .d-flex.mb-2
        .w-25 រៀននៅសាលា
        %b= " : #{@user.high_school.try(:name_km)}"
      .d-flex.mb-2
        .w-25 អាស័យដ្ឋានបច្ចុប្បន្ន
        %b= " : #{@user.address}"
