%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{href: root_path}
    .sidebar-brand-icon{style: 'box-shadow: 0px 3px 61px #fff; border-radius: 50%'}
      = image_tag 'logo.png', style: "width: 50px"

    .sidebar-brand-text.mx-3
      = ENV["APP_NAME"]

  / / Divider
  / %hr.sidebar-divider.my-0/

  / / Nav Item - Dashboard
  / %li.nav-item
  /   %a.nav-link{ href: "#" }
  /     %i.fas.fa-fw.fa-tachometer-alt
  /     %span Dashboard

  / Divider
  %hr.sidebar-divider/

  / Heading
  .sidebar-heading
    Interface

  %li.nav-item{class: [css_active_class('users'), ('active' if request.path.split("/")[1].blank?)]}
    %a.nav-link{ href: users_path }
      %i.fas.fa-fw.fa-mobile-retro
      %span អ្នកប្រើប្រាស់ App

  - if policy(Account).create?
    %li.nav-item{class: css_active_class('accounts')}
      %a.nav-link{ href: accounts_path }
        %i.fas.fa-fw.fa-user
        %span= t('account.account')

  - if policy(School).create?
    %li.nav-item{class: css_active_class('schools')}
      %a.nav-link{ href: schools_path }
        %i.fas.fa-fw.fa-school
        %span= t('school.school')

  - if policy(MiddleSchool).create?
    %li.nav-item{class: css_active_class('middle_schools')}
      %a.nav-link{ href: middle_schools_path }
        %i.fas.fa-fw.fa-graduation-cap
        %span= t('middle_school.middle_school')

  %li.nav-item{class: css_active_class('abouts')}
    %a.nav-link{ href: about_path }
      %i.fas.fa-fw.fa-circle-exclamation
      %span អំពីកម្មវិធី

  / Divider
  %hr.sidebar-divider.d-none.d-md-block/

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    %button#sidebarToggle.rounded-circle.border-0
