%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{href: root_path}
    .sidebar-brand-icon{style: 'box-shadow: 0px 3px 61px #fff; border-radius: 50%'}
      = image_tag 'logo.png', style: "width: 50px"

    .sidebar-brand-text.mx-3
      = ENV["APP_NAME"]

  - if policy(:grafana).show?
    %hr.sidebar-divider.my-0/

    %li.nav-item
      %a.nav-link{href: ENV['GF_DASHBOARD_URL'], target: '_blank'}
        %i.fa-solid.fa-chart-simple
        %span= t("sidebar.dashboard")

  / Divider
  %hr.sidebar-divider/

  / Heading
  .sidebar-heading
    Interface

  - if policy(User).index?
    %li.nav-item{class: [css_active_class('users'), ('active' if request.path.split("/")[1].blank?)]}
      %a.nav-link{ href: users_path }
        %i.fas.fa-fw.fa-mobile-retro
        %span អ្នកប្រើប្រាស់ App

  - if policy(Visit).index?
    %li.nav-item{class: css_active_class('visits')}
      %a.nav-link{ href: visits_path }
        %i.fas.fa-fw.fa-eye
        %span= t('sidebar.visit')

  - if current_account.primary_admin? || current_account.admin?
    / Manage Content
    %li.nav-item
      %a.nav-link.collapsed{"aria-controls" => "collapseContent", "aria-expanded" => "true", "data-target" => "#collapseContent", "data-toggle" => "collapse", :href => "#"}
        %i.fas.fa-fw.fa-cog
        %span= t('sidebar.contents')

      #collapseContent.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
        .bg-white.py-2.collapse-inner.rounded
          %h6.collapse-header For admin only

          - if policy(School).create?
            %a.collapse-item{ href: schools_path, class: css_active_class('schools', 'school_importers') }
              = t('sidebar.school')

          - if policy(Major).create?
            %a.collapse-item{ href: majors_path, class: css_active_class('majors', 'major_importers') }
              = t('sidebar.college_major')

          - if policy(PersonalityType).update?
            %a.collapse-item{ href: personality_types_path, class: css_active_class('personality_types', 'personality_type_importers') }
              = t('sidebar.personality_type')

          - if policy(HighSchool).create?
            %a.collapse-item{ href: high_schools_path, class: css_active_class('high_schools', 'high_school_importers') }
              = t('sidebar.high_school')

          - if policy(JobCluster).update?
            %a.collapse-item{ href: job_clusters_path, class: css_active_class('job_clusters', 'job_cluster_importers') }
              = t('sidebar.job_cluster')

          - if policy(Job).create?
            %a.collapse-item{ href: jobs_path, class: css_active_class('jobs', 'job_importers') }
              = t('sidebar.job')

          - if policy(Video).create?
            %a.collapse-item{ href: videos_path, class: css_active_class('videos', 'video_importers') }
              = t('sidebar.video')

          - if policy(HollandQuestion).create?
            %a.collapse-item{ href: holland_questions_path, class: css_active_class('holland_questions', 'holland_question_importers') }
              = t('sidebar.holland_question')

          - if policy(SelfUnderstandingQuestion).create?
            %a.collapse-item{ href: self_understanding_questions_path, class: css_active_class('self_understanding_questions') }
              = t('sidebar.self_understanding_question')

          - if policy(IntelligenceCategory).create?
            %a.collapse-item{ href: intelligence_categories_path, class: css_active_class('intelligence_categories', 'intelligence_category_importers') }
              = t('sidebar.intelligence_category')

          - if policy(IntelligenceQuestion).create?
            %a.collapse-item{ href: intelligence_questions_path, class: css_active_class('intelligence_questions', 'intelligence_question_importers') }
              = t('sidebar.intelligence_question')

          - if policy(CareerWebsite).create?
            %a.collapse-item{ href: career_websites_path, class: css_active_class('career_websites', 'career_website_importers') }
              = t('sidebar.career_website')

    / Manage Settings
    %li.nav-item
      %a.nav-link.collapsed{"aria-controls" => "collapseSetting", "aria-expanded" => "true", "data-target" => "#collapseSetting", "data-toggle" => "collapse", :href => "#"}
        %i.fas.fa-fw.fa-wrench
        %span= t('sidebar.settings')

      #collapseSetting.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
        .bg-white.py-2.collapse-inner.rounded
          %h6.collapse-header Application setting

          - if policy(Account).create?
            %a.collapse-item{ href: accounts_path, class: css_active_class('accounts') }
              = t('sidebar.account')

          - if policy(Page).index?
            %a.collapse-item{ href: pages_path, class: css_active_class('pages') }
              = t('sidebar.page')

  %li.nav-item{class: css_active_class('abouts')}
    %a.nav-link{ href: about_path }
      %i.fas.fa-fw.fa-circle-exclamation
      %span= t('sidebar.about')

  / Divider
  %hr.sidebar-divider.d-none.d-md-block/

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    %button#sidebarToggle.rounded-circle.border-0
