%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{href: root_path}
    .sidebar-brand-icon{style: 'box-shadow: 0px 3px 61px #fff; border-radius: 50%'}
      = image_tag 'logo.png', style: "width: 50px"

    .sidebar-brand-text.mx-3
      = ENV["APP_NAME"]

  - if policy(:grafana).show?
    %hr.sidebar-divider.my-0/

    %li.nav-item
      %a.nav-link{href: ENV['GF_DASHBOARD_URL'], target: '_blank'}
        %i.fa-solid.fa-chart-column
        %span= t("sidebar.dashboard")

  / Divider
  %hr.sidebar-divider/

  / Heading
  .sidebar-heading
    Interface

  %li.nav-item{class: [css_active_class('users'), ('active' if request.path.split("/")[1].blank?)]}
    %a.nav-link{ href: users_path }
      %i.fas.fa-fw.fa-mobile-retro
      %span អ្នកប្រើប្រាស់ App

  - if policy(Account).create?
    %li.nav-item{class: css_active_class('accounts')}
      %a.nav-link{ href: accounts_path }
        %i.fas.fa-fw.fa-user
        %span= t('account.account')

  - if current_account.primary_admin? || current_account.admin?
    / Manage Content
    %li.nav-item
      %a.nav-link.collapsed{"aria-controls" => "collapseContent", "aria-expanded" => "true", "data-target" => "#collapseContent", "data-toggle" => "collapse", :href => "#"}
        %i.fas.fa-fw.fa-cog
        %span= t('sidebar.contents')

      #collapseContent.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
        .bg-white.py-2.collapse-inner.rounded
          %h6.collapse-header For admin only

          - if policy(School).create?
            %a.collapse-item{ href: schools_path, class: css_active_class('schools', 'school_importers') }
              = t('sidebar.school')

          - if policy(HighSchool).create?
            %a.collapse-item{ href: high_schools_path, class: css_active_class('high_schools', 'high_school_importers') }
              = t('sidebar.high_school')

          - if policy(JobCluster).create?
            %a.collapse-item{ href: job_clusters_path, class: css_active_class('job_clusters', 'job_cluster_importers') }
              = t('sidebar.job_cluster')

          - if policy(Job).create?
            %a.collapse-item{ href: jobs_path, class: css_active_class('jobs', 'job_importers') }
              = t('sidebar.job')

          - if policy(CollegeMajor).create?
            %a.collapse-item{ href: college_majors_path, class: css_active_class('college_majors', 'college_major_importers') }
              = t('sidebar.college_major')

          - if policy(Video).create?
            %a.collapse-item{ href: videos_path, class: css_active_class('videos', 'video_importers') }
              = t('sidebar.video')

          - if policy(HollandQuestion).create?
            %a.collapse-item{ href: holland_questions_path, class: css_active_class('holland_questions', 'holland_question_importers') }
              = t('sidebar.holland_question')

          - if policy(SelfUnderstandingQuestion).create?
            %a.collapse-item{ href: self_understanding_questions_path, class: css_active_class('self_understanding_questions') }
              = t('sidebar.self_understanding_question')

  %li.nav-item{class: css_active_class('abouts')}
    %a.nav-link{ href: about_path }
      %i.fas.fa-fw.fa-circle-exclamation
      %span អំពីកម្មវិធី

  / Divider
  %hr.sidebar-divider.d-none.d-md-block/

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    %button#sidebarToggle.rounded-circle.border-0
