%nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  / Sidebar Toggle (Topbar)
  %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    %i.fa.fa-bars

  / Topbar Navbar
  %ul.navbar-nav.ml-auto
    / Nav Item - User Information
    %li.nav-item.dropdown.no-arrow
      %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
        .d-none.d-lg-inline
          .d-flex.flex-column.align-items-center.mr-1
            %span.text-gray-600.small= current_account.display_name
            %small= t("account.#{current_account.role}")

        .d-flex.align-items-center.justify-content-center.img-profile.rounded-circle.border
          %i.fas.fa-user.fa-fw

      / Dropdown - User Information
      .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{"aria-labelledby" => "userDropdown"}
        .dropdown-item.d-flex.align-items-center
          %span.mr-2
            %i.fas.fa-user.fa-sm.fa-fw.text-gray-400
          .d-flex.flex-column
            %span= current_account.email
            %small.text-gray-400= t("account.role") + ": " + t("account.#{current_account.role}")

        .dropdown-divider

        %a.dropdown-item{:href => "#{destroy_account_session_path}", "data-method" => "delete", :rel => "nofollow"}
          %i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
          = t('shared.logout')
