.container.w-75
  = simple_form_for @major, defaults: { input_html: { class: 'form-horizontal' } } do |f|

    = f.input :code, label: t('shared.code'), input_html: { readonly: true }
    = f.input :name, label: t('shared.name')
    = f.input :personality_type, label: t('major.personality_type')
    = f.input :general_info, label: t('major.general_info')
    = f.input :orien_orientation_subjects, label: t('major.orien_orientation_subjects')
    = f.input :orien_study_condition, label: t('major.orien_study_condition')
    = f.input :orien_graduation_condition, label: t('major.orien_graduation_condition')
    = f.input :curriculum, label: t('major.curriculum')
    = f.input :teaching_and_learning_process, label: t('major.teaching_and_learning_process')
    = f.input :gain_knowledge, label: t('major.gain_knowledge')
    = f.input :worthy_career, label: t('major.worthy_career')

    = render "shared/buttons/submit_and_cancel_button", cancel_url: majors_path, f: f
