= content_for :title do
  = t('sidebar.college_major')

.d-flex.flex-row-reverse.flex-wrap
  .d-flex
    .mr-2= render "shared/buttons/download_button", url: majors_path(filter_params.merge(format: :xlsx))

    = render "shared/buttons/add_new_button", url: new_major_path

    / More Options
    - if policy(Major).create?
      = render "shared/buttons/more_button" do
        = render "shared/buttons/import_from_file_button", url: new_major_importer_path

        = render "shared/buttons/importing_history_button", name: t('sidebar.college_major'), url: major_importers_path

        = render "shared/buttons/download_json_button", url: majors_path(format: :json)

  / Filter
  .flex-grow-1
    = form_for "", url: majors_path, method: 'get' do |f|
      .d-flex
        = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

        .ml-2
          = render "shared/buttons/search_button"
