= content_for :title do
  = t('sidebar.job_cluster')

.d-flex.flex-row-reverse.flex-wrap
  .d-flex
    .mr-2= render "shared/buttons/download_button", url: job_clusters_path(filter_params.merge(format: :xlsx))

    - if policy(JobCluster).create?
      = render "shared/buttons/add_new_button", url: new_job_cluster_path

      / More Options
      = render "shared/buttons/more_button" do
        = render "shared/buttons/import_from_file_button", url: new_job_cluster_importer_path

        = render "shared/buttons/importing_history_button", name: t('sidebar.job_cluster'), url: job_cluster_importers_path

        = render "shared/buttons/download_json_button", url: job_clusters_path(format: :json)

  / Filter
  .flex-grow-1
    = form_for "", url: job_clusters_path, method: 'get' do |f|
      = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')
