/ Page Heading
= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    .table-responsive.mb-4
      %table.table.table-hover.pretty
        %thead
          %tr
            %th{width: 60} #
            %th= t('shared.code')
            %th= t('shared.name')
            %th= t('shared.logo')
            %th= t('job.video_list')
            %th= t('shared.recommendation')
            %th

        %tbody#body-content
          - @job_clusters.each_with_index do |job, index|
            %tr
              %td= @pagy.from + index
              %td= job.code
              %td= job.name
              %td
                = image_tag(job.logo_url, width: 36, class: 'rounded-circle') if job.logo.present?
              %td
                - job.videos.each do |video|
                  = link_to video.url, target: '_blank' do
                    = image_tag video.thumbnail, style: 'width: 50px;'
              %td.trancate-column
                = job.recommendation
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/edit_button", object: job, url: edit_job_cluster_path(job)

                  = render 'shared/buttons/delete_button', object: job,  message: { type: t('sidebar.job'), name: job.name, url: job_cluster_path(job) }

    = render "shared/footers/pagination"
