.form-wrapper#user-delete-info
  %h2.font-weight-normal.text-center.mb-4
    = t('user.delete_info_request')

  = simple_form_for @user, url: user_delete_information_path,  method: :delete do |f|
    %div
      %label.control-label.string.required{:for => "user_uuid"}
        %abbr{:title => "required"} *
        = t('user.user_uuid')

    = f.input :uuid, label: false
    = f.input :full_name, label: t('user.user_fullname'), wrapper_html: { class: 'mb-0' }

    / Button trigger modal
    %button.btn.btn-link.d-flex.align-items-center.px-0.mb-3{"data-target" => "#hintModal", "data-toggle" => "modal", type: 'button'}
      %span.btn-info-circle.mr-1
        %i.fa-solid.fa-info
      %small= t('user.how_to_get_user_id')

    = recaptcha_tags

    .actions.form-group.mt-4
      = f.submit t("user.send_delete_request"), class: 'btn btn-danger w-100 mb-2'

= render "modal_user_hint"
