.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= @major.name + ": " + t('college_major.matching_with_major')

.container{style: 'width: 50%'}
  = simple_form_for @major, defaults: { input_html: { class: 'form-horizontal' } } do |f|

    .d-none
      - @majors.each do |major|
        = check_box_tag "college_major[major_ids][]", major.id, @major.major_ids.include?(major.id), id: dom_id(major)

    .form-group
      %label= t('college_major.major_in_schools')
      %input.tag-input.form-control{ name: "tags", value: @major.major_ids, 'data-collection': @majors.to_json }

    .actions.text-right
      = link_to t('shared.cancel'), college_majors_path, class: 'btn btn-secondary'
      = f.submit t("shared.save"), class: 'btn btn-primary'
