.table-responsive
  %table.table.table-hover.pretty.table-bordered
    %thead
      %tr
        %th.align-middle.text-center{rowspan: 2} #
        %th.align-middle.text-center{rowspan: 2}= t('shared.code')
        %th.align-middle.text-center{rowspan: 2}= t("shared.name_km")
        %th.align-middle.text-center{rowspan: 2}= t('job.personality_type')
        %th.align-middle.text-center{rowspan: 2}= "career_code"
        %th.align-middle.text-center{rowspan: 2}= "ព័ត៌មានទូទៅ"
        %th.align-middle.text-center{colspan: 3}= "មុខវិជ្ជាតម្រង់ទិស និងលក្ខខណ្ឌចាំបាច់"
        %th.align-middle.text-center{rowspan: 2}= "កម្មវិធីសិក្សា"
        %th.align-middle.text-center{rowspan: 2}= "ដំណើរការបង្រៀន និងរៀន"
        %th.align-middle.text-center{rowspan: 2}= "ចំណេះដឹងទទួលបាន"
        %th.align-middle.text-center{rowspan: 2}= "អាជីពការងារសក្ដិសម"
        %th.align-middle.text-center{rowspan: 2}= "អនុសាសន៍"

      %tr
        %th.align-top.text-center= "មុខវិជ្ជាតម្រង់ទិស"
        %th.align-top.text-center= "លក្ខខណ្ឌចូលរៀន"
        %th.align-top.text-center= "លក្ខខណ្ឌបញ្ចប់ការសិក្សា"

    %tbody
      - @batch.importing_items.each_with_index do |importing_item, index|
        - item = importing_item.itemable
        - if item.valid?
          = f.fields_for :importing_items, importing_item do |ff|
            = ff.hidden_field :itemable_id
            = ff.hidden_field :itemable_type
            = ff.fields_for :itemable, item do |fff|
              = fff.hidden_field :id
              = fff.hidden_field :code
              = fff.hidden_field :name
              = fff.hidden_field :personality_type
              = fff.hidden_field :general_info
              = fff.hidden_field :orien_orientation_subjects
              = fff.hidden_field :orien_study_condition
              = fff.hidden_field :orien_graduation_condition
              = fff.hidden_field :curriculum
              = fff.hidden_field :teaching_and_learning_process
              = fff.hidden_field :gain_knowledge
              = fff.hidden_field :worthy_career
              = fff.hidden_field :recommendation

        %tr
          %td= index + 1
          %td= item.code
          %td= item.name
          %td= item.personality_type
          %td= item.general_info
          %td= item.orien_orientation_subjects
          %td= item.orien_study_condition
          %td= item.orien_graduation_condition
          %td= item.curriculum
          %td= item.teaching_and_learning_process
          %td= item.gain_knowledge
          %td= item.worthy_career
          %td= item.recommendation

          / Validation status
          %td= render "shared/validation_status", item: item
