.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t('shared.code')
        %th= t('shared.name')
        %th= t('shared.logo')
        %th= t('job.video_list')
        %th= t('shared.recommendation')
        %th

    %tbody
      - @batch.importing_items.each_with_index do |importing_item, index|
        - item = importing_item.itemable
        - if item.valid?
          = f.fields_for :importing_items, importing_item do |ff|
            = ff.hidden_field :itemable_id
            = ff.hidden_field :itemable_type
            = ff.fields_for :itemable, item do |fff|
              = fff.hidden_field :id
              = fff.hidden_field :code
              = fff.hidden_field :name
              = fff.hidden_field :logo_cache
              = fff.hidden_field :recommendation

              - item.cluster_videos.each do |cluster_video|
                = fff.fields_for :cluster_videos, cluster_video do |sdf|
                  = sdf.hidden_field :id
                  = sdf.hidden_field :video_id
                  = sdf.hidden_field :_destroy

        %tr
          %td= index + 1
          %td= item.code
          %td= item.name
          %td
            = image_tag(item.logo_url, width: 36, class: 'rounded-circle') if item.logo.present?
          %td
            - item.cluster_videos.select { |cv| !cv._destroy }.each do |cluster_video|
              = link_to cluster_video.video.url, target: '_blank' do
                = image_tag cluster_video.video.thumbnail, width: 50
          %td= item.recommendation

          / Validation status
          %td= render "shared/validation_status", item: item
