= render "users/tab_header"

.card.shadow.mb-4
  .card-body
    #Section3
      %table.table-bordered.table
        %thead
          %tr
            %th{width: 60} #
            %th តេស្ត
            %th កាលបរិច្ឆេទ
        %tbody
          - @user.personality_tests.each_with_index do |test, i|
            %tr
              %td= i + 1
              %td= link_to "តេស្តលើកទី#{i + 1}", user_personality_test_path(user_id: @user.id, id: test.id)
              %td= test.created_at

