.container.w-75
  = simple_form_for @personality_type do |f|
    = f.input :code, label: t('shared.code')
    = f.input :name_km, label: t('shared.name_km')
    = f.input :name_en, label: t('shared.name_en')
    = f.input :recommendation, label: t('shared.recommendation')

    = render "shared/buttons/submit_and_cancel_button", cancel_url: personality_types_path, f: f
