= render "shared/headers/page_heading", title: t('sidebar.personality_type') do
  %div.d-flex
    .mr-2= render "shared/buttons/download_button", url: personality_types_path(filter_params.merge(format: :xlsx))

    - if policy(PersonalityType).create?
      = render "shared/buttons/add_new_button", url: new_personality_type_path

      / More Options
      %button.btn.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-ellipsis-v

      .dropdown-menu.dropdown-menu-right
        %a.btn.dropdown-item{ href: new_personality_type_importer_path }
          %i.fas.fa-file-import.drop-menu-icon
          %span= t("shared.import_from_file")

        %a.btn.dropdown-item{ href: personality_type_importers_path }
          %i.fas.fa-history.drop-menu-icon
          %span= t('shared.importing_history', name: t('sidebar.personality_type'))

        - if current_account.primary_admin?
          %a.btn.dropdown-item{ href: personality_types_path(format: :json), target: '_blank' }
            %i.fas.fa-download.drop-menu-icon
            %span= t('shared.download_json')

/ Filter
= form_for "", url: personality_types_path, method: 'get' do |f|
  .d-flex
    = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')

    .ml-2
      = render "shared/buttons/search_button"
