%div{style: 'width: 70%; margin: 0 auto;'}
  - unless account_signed_in?
    .d-flex.my-4
      %button.btn.btn-light
        %i.fa-solid.fa-chevron-left
        = link_to t('shared.back'), new_account_session_path

  .card.shadow.mb-4
    .card-body
      %h5.card-title.center
        %strong កម្មវិធីត្រីវិស័យ

      %p
        គឺជាកម្មវិធីទូរស័ព្ទមួយដែលអនុញ្ញាតឱ្យសិស្សថ្នាក់ទី៩ ដល់ថ្នាក់ទី១២
        អាចធ្វើការស្វែងយល់អំពីខ្លួនឯង ដោយធ្វើការតេស្តជាមួយនឹងកម្មវិធី ដើម្បីអាចអោយគាត់ស្គាល់ពីជំនាញទន់
        និងជំនាញរឹង និងកំណត់គោលដៅរបស់ខ្លួន សម្រាប់ការជ្រើសរើសជំនាញវិជ្ជាជីវៈនាពេលអនាគត។

      %p
        បន្ថែមពីនេះទៀតកម្មវិធីត្រីវិស័យ បានបញ្ចូលនៅព័ត៌មានទាក់ទងជាមួយនឹងគ្រឹះស្ថានសិក្សានៅក្នុងស្រុក
        ពត័មានជំនាញដែលយើងត្រូវសិក្សានៅសាកលវិទ្យាល័យ ក៏ដូចជាព័ត៌មានអំពីជំនាញវិជ្ជាជីវៈ
        ដោយភ្ជាប់ជាមួយសាលាដែលយើងអាចសិក្សាបាន។

      %p.center.paragraph
        %strong សហការផលិតដោយ

      %p.center
        = link_to 'http://www.moeys.gov.kh', target: "_blank", style: 'margin-right: 20px' do
          = image_tag 'about/moeys.png', style: "width: 65px"

        = link_to 'http://www.kapekh.org', target: "_blank" do
          = image_tag 'about/kape.png', style: "width: 70px"

      %p.center.paragraph
        %strong អភិវឌ្ឍន៍ដោយ

      %p.center
        = link_to 'http://ilabsoutheastasia.org', target: "_blank" do
          = image_tag 'about/ilab.png', style: "width: 180px"

      %p.center.paragraph
        %strong គាំទ្រថវិកាពី

      %p.center
        = link_to 'https://www.usaid.gov/cambodia', target: "_blank" do
          = image_tag 'about/usaid.png', style: "width: 140px"

        = link_to 'https://www.development-innovations.org/', target: "_blank", style: 'margin-left: 20px; margin-right: 20px' do
          = image_tag 'about/di.png', style: "width: 140px"

        = link_to 'https://spidercenter.org/', target: "_blank" do
          = image_tag 'about/spider.png', style: "width: 140px"



