%tr
  %td= @pagy.from + school_counter
  %td= link_to school.code, school_path(school), class: 'text-primary'
  %td
    - if school.logo.present?
      = image_tag school.logo_url, width: 50
  %td= school.name
  %td
    = t("school.#{school.kind}") if school.kind.present?
  %td= school.address
  %td= school.province
  %td= school.phone_numbers
  %td= school.emails
  %td= school.website_or_facebook
  %td= school.category
  %td= school.school_departments.length
  %td= school.school_majors.length
