/ Page Heading
= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    .table-responsive.mb-4
      %table.table.table-hover.pretty
        %thead
          %tr
            %th{width: 60} #
            %th= t('shared.code')
            %th= t('school.logo')
            %th= t('school.name')
            %th= t('school.display_order')
            %th= t('school.type')
            %th= t('school.address')
            %th= t('shared.province')
            %th= t('school.tels')
            %th= t('school.emails')
            %th= t('school.website')
            %th= t('school.category')
            %th= t('school.number_of_department')
            %th= t('school.number_of_major')

        %tbody#body-content
          - @schools.each_with_index do |school, index|
            %tr
              %td= @pagy.from + index
              %td= link_to school.code, school_path(school), class: 'text-primary'
              %td
                = image_tag(school.logo_url, width: 24) if school.logo.present?
              %td= school.name
              %td= school.display_order
              %td.trancate-column
                = t("school.#{school.kind}") if school.kind.present?
              %td.trancate-column= school.address
              %td= school.province
              %td.trancate-column= school.phone_numbers
              %td.trancate-column= school.emails
              %td.trancate-column= school.website_or_facebook
              %td= school.category
              %td= school.school_departments.length
              %td= school.school_majors.length
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/edit_button", object: school, url: edit_school_path(school)

                  = render 'shared/buttons/delete_button', object: school,  message: { type: t('sidebar.school'), name: school.name, url: school_path(school) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
