= content_for :title do
  .d-flex.align-items-center.flex-grow-1
    .mr-2= image_tag(@school.logo_url, width: 50) if @school.logo.present?
    %h1.h3.mb-0.text-gray-800
      = "#{@school.name}(#{@school.code})"

#contents.mt-md-0
  .d-flex.flex-wrap.flex-row-reverse
    %div
      = render 'shared/buttons/back_button', url: schools_path

    .flex-grow-1
      .row.mb-1
        .col-3= t('school.type')
        .col-9
          - if @school.kind.present?
            = t("school.#{@school.kind}") + "(#{@school.kind})"
      .row.mb-1
        .col-3= t('school.address')
        .col-9= @school.address
      .row.mb-1
        .col-3= t('school.tels')
        .col-9= @school.phone_numbers
      .row.mb-1
        .col-3= t('school.emails')
        .col-9= @school.emails
      .row.mb-1
        .col-3= t('school.website')
        .col-9= @school.website_or_facebook
      .row.mb-1
        .col-3= t('school.category')
        .col-9= @school.category

  .mt-3
    - @school.school_departments.each do |sdepartment|

      .card.mb-4.py-2.px-1.border-left-primary
        %small.m-1.font-weight-bold.text-primary
          = sdepartment.department_name
        .d-flex.flex-wrap
          - sdepartment.majors.each do |major|
            %div.m-1.p-1{style: "border: 1px solid #17a2b8; border-radius: 5px"}
              = major.name
