.table-responsive
  %table.table.table-hover.pretty.table-bordered
    %thead
      %tr
        %th.align-middle.text-center{rowspan: 2} #
        %th.align-middle.text-center{rowspan: 2}= t('shared.code')
        %th.align-middle.text-center{rowspan: 2}= t("shared.name_km")
        %th.align-middle.text-center{rowspan: 2}= t("shared.name_en")
        %th.align-middle.text-center{rowspan: 2}= t("shared.logo")
        %th.align-middle.text-center{rowspan: 2}= t('job.personality_type')
        %th.align-middle.text-center{rowspan: 2}= t('job.cluster')
        %th.align-middle.text-center{rowspan: 2}= t('job.general_description')
        %th.align-middle.text-center{colspan: 3}= t('job.job_condition')
        %th.align-middle.text-center{colspan: 3}= t('job.education_and_training')
        %th.align-middle.text-center{colspan: 3}= t('job.mandate_qualification')
        %th.align-middle.text-center{rowspan: 2}= t('shared.is_valid')

      %tr
        %th.align-top.text-center= t('job.jd_main_task')
        %th.align-top.text-center= t('job.jd_environment')
        %th.align-top.text-center= t('job.jd_work_style')
        %th.align-top.text-center= t('job.edu_education_level')
        %th.align-top.text-center= t('job.edu_subjects_at_high_school')
        %th.align-top.text-center= t('job.edu_majors_at_university')
        %th.align-top.text-center= t('job.personal_competency_knowledge')
        %th.align-top.text-center= t('job.personal_competency_skill')
        %th.align-top.text-center= t('job.personal_competency_ability')

    %tbody
      - @batch.importing_items.each_with_index do |importing_item, index|
        - item = importing_item.itemable
        - if item.valid?
          = f.fields_for :importing_items, importing_item do |ff|
            = ff.hidden_field :itemable_id
            = ff.hidden_field :itemable_type
            = ff.fields_for :itemable, item do |fff|
              = fff.hidden_field :id
              = fff.hidden_field :code
              = fff.hidden_field :name_km
              = fff.hidden_field :name_en
              = fff.hidden_field :personality_type
              = fff.hidden_field :general_description

              = fff.hidden_field :jd_main_task
              = fff.hidden_field :jd_environment
              = fff.hidden_field :jd_work_style
              = fff.hidden_field :edu_education_level
              = fff.hidden_field :edu_subjects_at_high_school
              = fff.hidden_field :edu_majors_at_university
              = fff.hidden_field :personal_competency_knowledge
              = fff.hidden_field :personal_competency_skill
              = fff.hidden_field :personal_competency_ability

              = fff.hidden_field :job_cluster_id
              = fff.hidden_field :logo_cache

              - item.job_majors.each do |job_major|
                = fff.fields_for :job_majors, job_major do |jmf|
                  = jmf.fields_for :major, job_major.major do |mj|
                    = mj.hidden_field :name

        %tr
          %td= index + 1
          %td= item.code
          %td= item.name_km
          %td= item.name_en
          %td
            = image_tag(item.logo_url, width: 50, class: 'rounded-circle') if item.logo.present?
          %td= item.personality_type
          %td= item.job_cluster_name
          %td.trancate-column= item.general_description
          %td.trancate-column= item.jd_main_task
          %td.trancate-column= item.jd_environment
          %td.trancate-column= item.jd_work_style
          %td.trancate-column= item.edu_education_level
          %td.trancate-column= item.edu_subjects_at_high_school
          %td.trancate-column= item.edu_majors_at_university
          %td.trancate-column= item.personal_competency_knowledge
          %td.trancate-column= item.personal_competency_skill
          %td.trancate-column= item.personal_competency_ability

          / Validation status
          %td= render "shared/validation_status", item: item
