.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t('sidebar.high_school')

  %div.d-flex
    .mr-2= render "shared/buttons/download_button", url: high_schools_path(filter_params.merge(format: :xlsx))

    = render "shared/buttons/add_new_button", url: new_high_school_path

    / More Options
    - if policy(HighSchool).create?
      %button.btn.btn-sm{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-ellipsis-v

      .dropdown-menu.dropdown-menu-right
        %a.btn.dropdown-item{ href: new_high_school_importer_path }
          %i.fas.fa-file-import.drop-menu-icon
          %span= t("shared.import_from_file")

        %a.btn.dropdown-item{ href: high_school_importers_path }
          %i.fas.fa-history.drop-menu-icon
          %span= t('shared.importing_history', name: t('sidebar.high_school'))

        - if current_account.primary_admin?
          %a.btn.dropdown-item{ href: high_schools_path(format: :json), target: '_blank' }
            %i.fas.fa-download.drop-menu-icon
            %span= t('shared.download_json')

/ Filter
= form_for "", url: high_schools_path, method: 'get' do |f|
  .d-flex
    = render 'shared/filters/filter_name', placeholder: t('shared.search_by_code_or_name')

    .ml-3
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_high_school"

    / Search button
    .ml-2
      = render "shared/buttons/search_button"

  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      #province.filter-input.mr-2
        = f.hidden_field(:province_id, value: params[:province_id])
        = f.select(:province_id, [], {:include_blank => t('shared.any_province')}, {:data => {:pumi_select_target => "district", :pumi_select_collection_url => pumi.provinces_path, :pumi_select_collection_label_method => "name_km", :pumi_select_collection_value_method => "id", :pumi_select_populate_on_load => true, :pumi_select_has_hidden_value => true}, class: 'select-location form-control custom-select'})

      #district.filter-input
        = f.hidden_field(:district_id, value: params[:district_id])
        = f.select(:district_id, [], {:include_blank => t('shared.any_district')}, {:data => {:pumi_select_id => "district", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_km", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'select-location form-control custom-select'})
