= content_for :title do
  = t('sidebar.high_school')

= form_for "", url: high_schools_path, method: 'get' do |f|
  .d-flex.flex-row-reverse.flex-wrap
    .d-flex
      .mr-2= render "shared/buttons/download_button", url: high_schools_path(filter_params.merge(format: :xlsx))

      = render "shared/buttons/add_new_button", url: new_high_school_path

      / More Options
      - if policy(HighSchool).create?
        = render "shared/buttons/more_button" do
          = render "shared/buttons/import_from_file_button", url: new_high_school_importer_path

          = render "shared/buttons/importing_history_button", name: t('sidebar.high_school'), url: high_school_importers_path

          = render "shared/buttons/download_json_button", url: high_schools_path(format: :json)

    / Filter
    .d-flex.flex-grow-1
      = render 'shared/filters/filter_name', placeholder: t('shared.search_by_code_or_name')

      .ml-3
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_high_school"

      / Search button
      .ml-2
        = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      #province.filter-input.mr-2
        = f.hidden_field(:province_id, value: params[:province_id])
        = f.select(:province_id, [], {:include_blank => t('shared.any_province')}, {:data => {:pumi_select_target => "district", :pumi_select_collection_url => pumi.provinces_path, :pumi_select_collection_label_method => "name_km", :pumi_select_collection_value_method => "id", :pumi_select_populate_on_load => true, :pumi_select_has_hidden_value => true}, class: 'select-location form-control custom-select'})

      #district.filter-input
        = f.hidden_field(:district_id, value: params[:district_id])
        = f.select(:district_id, [], {:include_blank => t('shared.any_district')}, {:data => {:pumi_select_id => "district", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_km", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'select-location form-control custom-select'})
