/ Page Heading
= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    .table-responsive.mb-4
      %table.table.table-hover.pretty
        %thead
          %tr
            %th{width: 60} #
            %th= t('shared.code')
            %th= t('shared.name')
            %th= t('school.address')
            %th= t('shared.version') if current_account.primary_admin?
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody#body-content
          - @schools.each_with_index do |school, index|
            %tr
              %td= @pagy.from + index
              %td= school.code
              %td= school.name
              %td= "(#{school.district_id}) #{school.address}"
              %td= school.version if current_account.primary_admin?
              %td= timeago(school.created_at).html_safe
              %td= timeago(school.updated_at).html_safe
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/edit_button", object: school, url: edit_high_school_path(school)

                  = render 'shared/buttons/delete_button', object: school,  message: { type: t('sidebar.high_school'), name: school.name, url: high_school_path(school) }

    = render "shared/footers/pagination"

= render "shared/modals/confirm_delete_modal"
