.logo-wrapper.d-flex.flex-column.justify-content-center.text-center
  / Sign in button
  = link_to t("devise.sign_in"), url_for(anchor: :login_form), class: "btn btn-primary position-absolute d-lg-none", style: "top: 30px; right: 30px;"

  / App name
  %h3.title= ENV['APP_NAME']

  / Logo
  .logo-image-wrapper.flex-row.justify-content-conter
    = image_tag 'logo.png', class: 'logo'

  .d-flex
    / -----------V1
    .d-flex.flex-column.flex-grow-1.mr-1
      / Implemented by
      .d-flex.flex-column.align-items-center
        %strong.paragraph.text-white កំណែទី១ (ឆ្នាំ២០១៨) សហការផលិតដោយ

        .d-flex.align-items-center
          = link_to 'http://www.moeys.gov.kh', target: "_blank", class: 'mr-4' do
            = image_tag 'about/moeys.png', height: 60

          = link_to 'http://www.kapekh.org', target: "_blank" do
            = image_tag 'about/kape.png', height: 50

      / Developed by
      .d-flex.flex-column.align-items-center
        %strong.paragraph.text-white អភិវឌ្ឍន៍ដោយ

        .flex-grow-1.d-flex.align-items-center.card
          = link_to 'http://ilabsoutheastasia.org', target: "_blank" do
            = image_tag 'about/ilab.png', height: 38

      .d-flex.flex-column.align-items-center
        / Funded by
        %strong.paragraph.text-white គាំទ្រថវិកាដោយ

        .flex-grow-1.d-flex.align-items-center
          .d-inline-block.card.px-1
            = link_to 'https://www.usaid.gov/cambodia', target: "_blank" do
              = image_tag 'about/usaid.png', width: 120

            = link_to 'https://www.development-innovations.org/', target: "_blank", class: 'mx-3' do
              = image_tag 'about/di.png', width: 120

            = link_to 'https://spidercenter.org/', target: "_blank" do
              = image_tag 'about/spider.png', width: 120

    / -----------V2
    .d-flex.flex-column.flex-grow-1.ml-1
      / Implemented by
      .d-flex.flex-column.align-items-center
        %strong.paragraph.text-white កំណែទី២ (ឆ្នាំ២០២៣) កែលម្អមាតិកានិងផលិតដោយ

        .flex-grow-1.d-flex.align-items-center
          = link_to 'http://www.moeys.gov.kh', target: "_blank", class: 'mr-4' do
            = image_tag 'about/moeys.png', height: 60

      / Developed by
      .d-flex.flex-column.align-items-center
        %strong.paragraph.text-white អភិវឌ្ឍន៍ដោយ

        .flex-grow-1.d-flex.align-items-center
          = link_to 'https://kawsang.com', target: "_blank" do
            = image_tag 'about/kawsang_logo.png', height: 38

      .d-flex.flex-column.align-items-center
        / Funded by
        %strong.paragraph.text-white គាំទ្រថវិកាដោយ

        .flex-grow-1.d-flex.align-items-center
          .d-inline-block.card.px-1
            = image_tag 'about/adb_project.jpg', height: 38

            = link_to 'https://adb.org', target: "_blank", class: 'ml-3' do
              = image_tag 'about/adb.jpg', height: 38

  / Download
  .qr-code.mt-4
    = link_to "ទាញយកកម្មវិធី / Download App", ENV['MOBILE_APP_URL'], target: "_blank", class: 'text-white'
    %br
    = image_tag 'qr-code.png', alt: 'TreyVisay QR code', class: 'qr-code-img mt-3 rounded'
