!!!
%html
  %head
    %title ត្រីវិស័យ
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.png')
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.devise-form{id: css_id_name}
    = render "shared/notify_message"

    .column
      .wrapper.medium-width
        = render 'layouts/logo'

        .d-flex.flex-column.align-items-center.justify-content-center
          = yield
