.container{style: 'width: 50%'}
  = simple_form_for @account, defaults: { input_html: { class: 'form-horizontal' } } do |f|
    = f.input :email, label: t('account.email'), input_html: { readonly: @account.persisted? }

    = f.input :role, label: t('account.role'), collection: Account::ROLES, input_html: { class: 'role custom-select' }

    = f.input :counselor_school_id, label: t('account.school'), collection: CounselorSchool.pluck(:name, :id), input_html: { class: 'custom-select' }

    .actions
      = link_to t('shared.cancel'), accounts_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'

