/ Page Heading
= content_for :title do
  = t('account.accounts')

/ Nav tabs
.d-flex
  %ul.nav.nav-tabs.flex-grow-1
    %li.nav-item
      %a.nav-link{href: accounts_path, class: ('active' if params[:archived].blank?) }
        %i.fas.fa-users
        %span.d-none.d-lg-inline= t("user.all")

    %li.nav-item
      %a.nav-link{ href: accounts_path(archived: true), class:  ('active' if params[:archived].present?) }
        %i.fas.fa-user-times
        %span.d-none.d-lg-inline= t("user.archived")

  = render "shared/buttons/add_new_button", url: new_account_path

/ Filter
= form_for "", url: accounts_path, method: 'get' do |f|
  .d-flex.mt-2
    = render 'shared/filters/filter_name', placeholder: t('account.search_by_email'), field_name: :email

    .ml-3
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_account"

    / Search button
    .ml-2
      = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .mr-2
        = select_tag :role, options_for_select(policy(Account).roles, params[:role]), include_blank: t('account.all_role'), class: 'custom-select'

      .mr-2
        = render "shared/filters/province", f: f
      .mr-2
        = render "shared/filters/district", f: f
      .mr-2
        = render "shared/filters/high_school", f: f
