/ Page Heading
= render "shared/headers/page_heading", title: t('account.accounts') do
  = render "shared/buttons/add_new_button", url: new_account_path

/ Nav tabs
%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{href: accounts_path, class: ('active' if params[:archived].blank?) }
      %i.fas.fa-users
      %span.d-none.d-lg-inline= t("user.all")

  %li.nav-item
    %a.nav-link{ href: accounts_path(archived: true), class:  ('active' if params[:archived].present?) }
      %i.fas.fa-user-times
      %span.d-none.d-lg-inline= t("user.archived")

/ Filter
= form_for "", url: accounts_path, method: 'get' do |f|
  .d-flex.mt-2
    = render 'shared/filters/filter_name', placeholder: t('account.search_by_email'), field_name: :email

    .ml-3
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_account"

    / Search button
    .ml-2
      = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .mr-2
        = select_tag :role, options_for_select(policy(Account).roles, params[:role]), include_blank: t('account.all_role'), class: 'custom-select'

      .mr-2
        = f.hidden_field(:province_id, value: params[:province_id])
        = f.select(:province_id, [], {:include_blank => t("shared.all_provinces")}, {:data => {pumi_select_target: "district", pumi_select_collection_url: pumi.provinces_path, pumi_select_collection_label_method: "name_#{I18n.locale}", pumi_select_collection_value_method: "id", pumi_select_populate_on_load: true, pumi_select_has_hidden_value: true}, class: 'form-control custom-select'})

      .mr-2
        = f.hidden_field(:district_id, value: params[:district_id])
        = f.select(:district_id, [], {:include_blank => t("shared.all_districts")}, {:data => {:pumi_select_id => "district", :pumi_select_target => "school", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})

      .mr-2
        = f.hidden_field(:high_school_code, value: params[:high_school_code])
        %select.form-control.custom-select{"data-pumi-select-collection-label-method" => "name", "data-pumi-select-collection-url" => "/high_schools.json?district_id=FILTER", "data-pumi-select-collection-url-filter-interpolation-key" => "FILTER", "data-pumi-select-collection-value-method" => "code", "data-pumi-select-disabled-target" => "#school", "data-pumi-select-id" => "school", name: 'high_school_code', 'data-pumi-select-has-hidden-value' => true}
          %option{value: ""}= t('shared.all_schools')
