= render "page_heading"

/ Content
.card.shadow.mb-4
  .card-body
    = render "shared/headers/pagy_label"

    .table-responsive.mb-4
      %table.table.table-hover
        %thead
          %tr
            %th{width: 60} #
            %th= t('account.email')
            %th= t('account.full_name')
            %th= t('account.phone_number')
            %th= t('account.role')
            %th= t('account.location')
            %th= t('account.school')
            %th= t('account.status')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th

        %tbody
          - @accounts.each_with_index do |account, index|
            %tr
              %td= @pagy.from + index
              %td= link_to account.email, edit_account_path(account.id)
              %td= account.full_name
              %td= account.phone_number
              %td.trancate-column
                - if account.gf_user_id.present?
                  %span.text-success{'data-toggle': 'tooltip', 'data-title': t('account.allow_seeing_dashboard')}
                    %i.fa-solid.fa-chart-simple
                = I18n.t("account.#{account.role}")

              %td
                = account.provinces.pluck(:name_km).join(", ") if account.trainer?

                = Pumi::District.find_by_id(account.district_id).try(:address_km) if account.counselor?
              %td
                .d-flex
                  = account.high_schools.map(&:name_km).join(", ") if account.counselor?

                  - if account.in_school_other? && account.version == 1
                    %span.ml-1{'data-toggle': 'tooltip', 'data-title': t("account.need_to_update")}
                      %i.fa-solid.fa-circle-info.text-danger

              %td.status{ class: account.status }
                = t("account.#{account.status}")
              %td= timeago(account.created_at).html_safe
              %td= timeago(account.updated_at).html_safe
              %td
                .d-flex.justify-content-end
                  = render 'action_buttons', account: account

    = render "shared/footers/pagination"

= render "shared/modals/modal_confirm"
