= render partial: 'shared/side_nav', locals: {title: 'គណនេយ្យ'}

.main
  %br
  %center
    #div{style: "width:80%;", align: "right"}
      %a.btn.icon-btn.btn-primary{:href => "/accounts/new"}
        %span.glyphicon.btn-glyphicon.glyphicon-plus.img-circle.text-primary>
        បង្កើតគណនេយ្យ
  %br
  .clear
  %table.table-bordered.table.central{style: "width:80%;", align: "center"}
    %thead
      %tr
        %th{width: 60} #
        %th សារអេឡិចត្រូនិច
        %th តួនាទី
        %th សាលា
        %th= t('account.status')
        %th
    %tbody
      - @accounts.each_with_index do |account, index|
        %tr
          %td= @pagy.from + index
          %td= link_to account.email, edit_account_path(account.id)
          %td= I18n.t("account.#{account.role}")
          %td= account.counselor_school_name
          %td.status{ class: account.status }
            = t("account.#{account.status}")
          %td
            %div{style: 'text-align: right'}
              = render 'action_buttons', account: account

  = render "shared/footers/pagination"
