/ Page Heading
.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t('account.accounts')

  %a.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm{ href: new_account_path }
    %i.fas.fa-plus.fa-sm.text-white-50
    %span.d-none.d-md-inline= t('shared.add_new', name: t('account.account'))

/ Nav tabs
%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{href: accounts_path, class: ('active' if params[:archived].blank?) }
      %i.fas.fa-users
      %span.d-none.d-lg-inline= t("user.all")

  %li.nav-item
    %a.nav-link{ href: accounts_path(archived: true), class:  ('active' if params[:archived].present?) }
      %i.fas.fa-user-times
      %span.d-none.d-lg-inline= t("user.archived")

/ Content
.card.shadow.mb-4
  .card-body
    = render "shared/pagination_title", objects: @accounts

    %table.table
      %thead
        %tr
          %th{width: 60} #
          %th= t('account.email')
          %th= t('account.full_name')
          %th= t('account.phone_number')
          %th= t('account.role')
          %th= t('account.school')
          %th= t('account.status')
          %th= t('account.grafana')
          %th

      %tbody
        - @accounts.each_with_index do |account, index|
          %tr
            %td= @pagy.from + index
            %td= link_to account.email, edit_account_path(account.id)
            %td= account.full_name
            %td= account.phone_number
            %td= I18n.t("account.#{account.role}")
            %td
              = account.high_schools.map(&:name).join(", ")
              - if account.district_id.present?
                = "(#{Pumi::District.find_by_id(account.district_id).address_km})"

            %td.status{ class: account.status }
              = t("account.#{account.status}")
            %td
              = account.gf_user_id.present? ? "Yes" : nil
            %td
              .d-flex.justify-content-end
                = render 'action_buttons', account: account

    = render "shared/footers/pagination"

= render "shared/modals/modal_confirm"
